<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    

    <main>
        <form action="" method="POST">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 mt-5">
                        <h2 class="my-3">Login</h2>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                            <label for="floatingInput">Username</label>
                          </div>
                          <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pass">
                            <label for="floatingPassword">Password</label>
                          </div>
                          <button type="submit" class="btn btn-primary mt-3">Ingresar</button>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>